@charset 'utf-8';

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.up, .down {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.up-img, .footer-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

h2 {
    text-align: center;
    font-size: 5vh;
    margin: 15px;
}

.omikuji {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    30% {transform: translateX(-10px);}
    70% {transform: translateX(10px);}
}

.omikuji-img {
    animation: shake 0.5s ease;
    animation-iteration-count: 5;

}

.btn {
    border: none;
    border-radius: 10px;
}
.btn img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.result {
    text-align: center;
    font-size: 10vh;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 7px;
}
